<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="app.css" rel="stylesheet">
        <title>Al Hours!</title>
    </head>
    <body>
      <div class="jumbotron text-center">
        <h1>Hours this week!</h1>
      </div>
      <div class="page-header text-center">
        <h1 id="currentHours"><%= @hours %></h1>
      </div>
        <button id="resetButton" type="button" class="btn btn-warning btn-block btn-large resetButton">Reset</button>
    </body>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="app.js"></script>
</html>
